.titel{
    margin-top: 0px;
    font-family: Roboto;
    font-size: 17px;
    margin-left: 0px;
    font-weight: bold;
    color: #000;
  }
.container {
margin-top: 10px;
    margin-left: 0px;
    width: 1100px;
    height: 200px;
    position: relative;
    overflow: hidden;
    display: grid;
}
.slides {
    width: calc(-340px * 5);
    height: 200px;
    display: flex;
    background-color: #fff;
    animation: scroll 40s linear infinite;
}
.cards {
    width: 340px;
    height: 200px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.hotelbooing-img {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    transition: transform 2s;
    cursor: pointer;
}
 
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-320px * 3));
    }
}
#Book_hotel_name {
    display: inline-block;
    /* width: 420px; */
    font-size: 30px;
    color: #ff5c02;
    font-weight: bold;
    margin-top: 15px;
    margin-right: 10px;
    margin-left: 0px;
    font-family: Roboto;
}
#Hotel_type_hotelbkg{
    color: #000;
    font-size: 22px;
    margin-right: 20px;
    display: inline-block;
    margin-top: 15px;
    font-family: Roboto;
    padding-left: 10px;
    padding-right: 10px;
    border-right: solid 3px #ff5c02;
    border-left: solid 3px #ff5c02;
}

#Hotel_type_hotelbkgin_popup{

    color: #000;
    font-size: 15px;
    margin-right: 20px;
    display: inline-block;
    width: 80px;
    height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    /* border-right: solid;
    border-left: solid; */

}
#Book_hotel_price {
    width: 99px;
    height: 38px;
    margin-left: -10px;
    font-family: Roboto;
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
}

#Book_hotel_facilities {
    display: flex;
    width: 1070px;
    height: 90px;
}

#Book_hotel_faci-child {
    display: flex;
  
    height: 95px;
    margin-left: 0px;
    margin-top: 0px;
}

.facilities_div {
    width: 200px;
    height: 70px;
    margin-right: 30px;

}

.fac_img2 {
    width: 20px;
    margin-top: 10px;
}

.facilities_names {
    font-size: 15px;
    font-weight: 500;
    color: gray;
    margin-left: 5px;
}

.fac_img1 {
    width: 20px;
    margin-top: 10px;
}

#hotelBooking_book_now_btn {
    background-color: white;
    color: #ff5c02;
    border: solid 2px #ff5c02;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 12px;
    margin-left: 140px;
    cursor: pointer;

}

#hotelBooking_book_now_btn:hover {
    background-color: #ff5c02;
    color: #fff;
    cursor: pointer;
}
.ujjainhome-container{
    width: 1100px;
    height: 200px;
    position: relative;
    overflow: hidden;
    display: grid;
  }
 
  .ujjainhome{
    display: flex;
    gap: 30px;
  }
  
  .prev-ujjainhome,
  .next-ujjainhome {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: #333;
      color: #fff;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
  }
  
  .prev-ujjainhome, .prev-ujjainhome1 {
      left: 0;
  
  }
  
  .next-ujjainhome, .next-ujjainhome1 {
      right: 0;
  
  }
  .prev-ujjainhome{
    width: 40px;
    height: 45px;
    border-radius: 30px;
    border-style: solid;
    border-color: #ff5c02;
    border-width: 3px;
    background-color: white;
    color: #ff5c02;
    font-size: 13px;
  }
  .prev-ujjainhome:hover{
    background-color: #ff5c02;
    color: white;
  }
  .next-ujjainhome{
    width: 40px;
    height: 45px;
    border-radius: 30px;
    border-style: solid;
    border-color: #ff5c02;
    border-width: 3px;
    background-color: white;
    color: #ff5c02;
    font-size: 13px;
  
  }
  .next-ujjainhome:hover{
    background-color: #ff5c02;
    color: white;
  }
  .card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 180px;
    height: 188px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 14.8px;
  }
  
  
  .ujjainimage{
    width: 160px;
    height: 100px;
    border-radius: 12px;
    margin-left: 10px;
    margin-top: 10px;  
  }
  .ujjainimg1{
    width: 150px;
    height: 120px;
    border-radius: 12px;
    margin-left: 10px;
    margin-top: 10px; 
  }
  .rectangle{
    width: 38px;
    height: 17px;
  padding-left: 5px;
    border-radius: 15.4px;
    background-color: white;
    position: absolute;
    margin-top: -100px;
    margin-left: 130px;
    font-family: Roboto;
    font-size: 11px;
    font-weight: 800px;
  }
  .rectangle1{
    width: 42px;
    height: 18px;
  padding-left: 5px;
    border-radius: 15.4px;
    background-color: white;
    position: absolute;
    margin-top: -120px;
    margin-left: 110px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 800px;
  }
  .star{
    color: #f7b114;
  }
  .hotelname{
    font-family: Roboto;
    font-size: 14px;
    margin-left: 10px;
    font-weight: bold;
    color: #ff5c02;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 160px;
    height: 28px;
  }
  .hotelname1{
    font-family: Roboto;
    font-size: 14px;
    margin-left: 10px;
    font-weight: bold;
    color: #ff5c02;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 180px;
    height: 25px;
  }
  

  
  .titel1{
    font-family: Roboto;
    font-size: 17px;
    margin-top: 20px;
    margin-left: 0px;
    font-weight: bold;
    color: #000;
  }
  
  .type-member{
    display: flex;
    margin-top: 0px;
  }
  .member{
    display: flex;
  }
  .hoteltype{
    display: flex;
  }
  .memberimg{
    width: 10px;
      height: 10px;
      margin-left: 10px; 
  }
  .hotelimg{
    width: 12px;
    height: 10px;
  }
  .number{
    width: 12px;
    height: 24px;
    margin-top: -2px;
    margin-left: 3px;  
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    color: #000;
  }
  .hoteltypename{
    margin-left: 5px;
    margin-top: -3px;
    width: 70px;
    height: 24px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
  }
  .toprate{
    font-family: Roboto;
      font-size: 16px;
      font-weight: bold;
  margin-left: 10px;
  margin-top: -7px;   
  }
  .toprate1{
    font-family: Roboto;
      font-size: 22px;
      font-weight: bold;
  margin-left: 10px;
  margin-top: 0px;   
  }
  .Booknow{
              font-family: Roboto;
              font-size: 10px;
              font-weight: bold;
              color: #ff5c02;
              background-color: white;
              width: 60px;
              height: 25px;
              border-radius: 3px;
              border-color: #ff5c02;
              border-width: 10px;
              cursor: pointer;
              border-radius: 10px;
              border: solid 2px;
              margin-right: 10px;      
           margin-left: 110px;
  }
  .Booknow1{
    font-family: Roboto;
    font-size: 10px;
    font-weight: bold;
    color: #ff5c02;
    background-color: white;
    width: 70px;
    height: 28px;
    border-radius: 1px;
    border-color: #ff5c02;
    border-width: 10px;
    cursor: pointer;
    border-radius: 10px;
    border: solid 2px;      
  margin-left: 90px;
  }
  
  
  .Booknow:hover,
  .Booknow.active
  {
    background-color: #ff5c02;
    color: #fff;
  }
  .btn{
    margin-top: -28px;
  }
 
  .instruction{
    width: 125px;
    margin: 45px 341px 8px 0;
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
  }
.instruction1{
  width: 320px;
  margin: 8px 0 0 0px;
  font-family: Roboto;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  color: #000; 
}
.HotelBookingConfirmed{
  width: 264px;
  margin: 0px 25px 10px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #00b11a;
}
.success{
  width: 264px;
  margin: -35px 25px 0px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #00b11a;
}
.our_Agent{
  font-family: Roboto;
  margin-top: 5px;
  font-size: 12.2px;
  font-weight: 500;
  text-align: center;
  line-height: 1.3;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000;
}

.totalfares123{
  font-family: Roboto;
  font-size: 22px;
margin-top: 5px;
}
.Confirmed123{
 
  width: 310px;
  font-size: 12px;
  font-family: Roboto;
  height: 40px;
  background-color: #ff5c02;
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 16px;
}
.hotelok{
  margin-top: 20px;
  margin-left: 35%;
  width: 100px;
  height: 100px;
}

#amount{
  margin-top: 15px;
  width: 100%;
      display: flex;
      justify-content: space-between;
      color: #000;
      font-family: Roboto;
}

.total-fare {
      width: 30%;
      float: left;
      font-size: 20px;
      color: #000;
      font-family: Roboto;
  }

  .rate-per-day {
      width: 70%;
      float: right;
      text-align: right;
      font-size: 30px;
      color: #000;
      font-family: Roboto;
  }

 
  